.first-row { 
  background-color: #00995D; 
  a {
    text-decoration: none;
    margin-left: .5rem;
    float: right;
    color: white;
    background-color: none;
    border: none;
    &:hover {
      background-color: rgba($color: white, $alpha: .3);
      color: white;
    }
  }
  .active {
    background-color: rgba($color: white, $alpha: 1);
    color: #00995D;
  }
}

.second-row {
  background: rgba($color: #00995d, $alpha: .6);
  height: 2rem;
  .mat-icon-button {
    outline: none;
  }
}