<div class="row">
  <div class="col-md-3">
    <mat-card>
      <mat-form-field>
        <input type="text" matInput placeholder="Buscar" [formControl]="searchField">
      </mat-form-field>

      <label>Status: </label>
      <mat-radio-group
        class="radio-group" [formControl]="statusesField">
        <mat-radio-button *ngFor="let status of statuses; let i = index"
          [value]="i">
          {{ status }}
        </mat-radio-button>
      </mat-radio-group>
      {{ search | json }}
    </mat-card>

  </div>
  <div class="col">
    <mat-spinner diameter="20" *ngIf="loading; else occurrencesTemplate"></mat-spinner>
    <ng-template #occurrencesTemplate>
      <app-occurrence-list-item *ngFor="let occurrence of occurrences$ | async" [occurrence]="occurrence"></app-occurrence-list-item>
    </ng-template>
  </div>
</div>

{{ errors | json }}
