span {
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

p {
  margin: 0 0 0 0;
  font-weight: normal;
}

button {
  max-width: 10rem;
}

header-detail {
  p {
    padding: 0 .3rem;
  }
}
mat-chip-list span {
  margin: .3rem 0
}

.material-icons { font-size: 1rem; height: 1rem; width: 1rem; margin: 1rem; }