<mat-spinner diameter="20" class="text-center" *ngIf="loading; else occurrenceCard"></mat-spinner>
<ng-template #occurrenceCard>
  <mat-card>
      <div class="row">
        <div class="col">
          <mat-card-title>Ocorrência #{{ occurrence?.id }}
          </mat-card-title>
        </div>
        <div class="col">
          <button mat-stroked-button color="primary" (click)="openDialog()" class="float-right" [disabled]="occurrence?.status != 'opened'">Responder</button>
        </div>
      </div>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <h6>Dados do Policial</h6>
          <p>
            Nome: <span>{{ occurrence?.cop.name }}</span>
          </p>
          <p>
            Departamento: <span>{{ occurrence?.department.name }}</span>
          </p>
          <p>
            Descrição: <span>{{ occurrence?.cop.description }}</span>
          </p>
          <p>
            Email: <span>{{ occurrence?.cop.email }}</span>
          </p>
          <p>
            Data de Criação: <span>{{ occurrence?.cop.updated_at | date: 'dd/MM/yyyy hh:mm:ss' }}</span>
          </p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col">
          <h6>Dados da Ocorrência</h6>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <div class="occurrence-detail">
            <p>Data de criação: <span>{{ occurrence?.created_at | date: 'dd/MM/yyyy hh:mm:ss' }}</span></p>
            <p>Prioridade: <span>{{ occurrence?.priority }}</span></p>
            <p>Tempo limite em dias: <span>{{ occurrence?.sla }}</span></p>
            <p></p>
            <p>Conteúdo: <code>{{ occurrence?.content }}</code></p>
          </div>
        </div>
      </div>

      <hr>
      <div class="d-flex justify-content-center" *ngIf="loadingAnswers; else answersTemplate">
        <mat-spinner diameter="20"></mat-spinner>
      </div>
      <ng-template #answersTemplate>
        <h6>Respostas</h6>
        <mat-list *ngIf="answers; else noContent">
          <mat-list-item *ngFor="let answer of answers">
            <small mat-line> {{ answer.created_at | date: 'dd/MM/yyyy hh:mm:ss' }} </small>
            <small mat-line> {{ answer.content }} </small>
            <div class="float-right">
              <small>{{ answer.user.email }}</small>
            </div>
            
          </mat-list-item>
        </mat-list>
        <ng-template #noContent>
          {{ 'Nenhuma resposta encontrada.' }}
        </ng-template>
      </ng-template>
    </mat-card-content>
  </mat-card>

</ng-template>