mat-card {
  margin: .3rem 0px;
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
    transition: ease .3s;
  }
}

.badge {
  margin: 0px .3rem;
}

button {
  margin: 0px .3rem;
}

section {
  font-weight: bold;
}

.title-item {
  font-weight: normal;
  color: rgba(0, 0, 0, .7);
}