<mat-card>
  <div class="row">
    <div class="col">
      <span>
        {{ occurrence.cop.name }}
        {{ occurrence.patrol.created_at | date: 'dd/MM/yyyy' }}
      </span>
      <span class="float-right">
      <span class="badge" [ngClass]="badgeSelector(occurrence.kind)">Kind: {{ occurrence.kind }}</span>
      <span class="badge" [ngClass]="badgeSelector(occurrence.status)">Status: {{ occurrence.status }}</span>
      <i class="fas fa-calendar-alt"></i> {{ occurrence.created_at | date: 'dd/MM/yyyy' }}</span>
    </div>
    <button mat-stroked-button [routerLink]="[ '/occurrences', occurrence.id ]">Abrir</button>
  </div>
</mat-card>
