<h2 mat-dialog-title>Responder Ocorrência #{{data.id}}</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">

      <mat-form-field>
        <textarea matInput placeholder="Conteúdo" formControlName="content" maxlength="1000" #contentTextarea></textarea>
        <mat-hint align="end">{{contentTextarea.value.length}} / 1000</mat-hint>
          <mat-error *ngIf="content.errors?.required">
            Preencha o conteúdo!
          </mat-error>
          <mat-error *ngIf="content.errors?.minlength">
            Mínimo 3 caracteres.
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Status" formControlName="status">
          <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
        </mat-select>
        <mat-error *ngIf="status.errors?.required">
          Selecione um item!
        </mat-error>
      </mat-form-field>

    </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close>Cancelar</button>
    <button mat-stroked-button type="submit" [disabled]="!form.valid">Enviar</button>
    <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
  </mat-dialog-actions>
</form>

